fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
passlib
bcrypt<4.1.0
bcrypt<4.1.0
python-jose[cryptography]
psycopg2-binary
python-dotenv
google-auth
fakeredis
redis
python-dateutil
requests
email-validator
